<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{page.title}}</title>
    <meta name="description" content={{page.desc}}>


    <!-- CHANGE md-ghpages TO YOUR REPO NAME-->
    <link rel="stylesheet" type="text/css" href="/md-ghpages/styles/index.css">
 
</head>
<body>

    <h1 class="example-class">Markdown to GitHub Pages Template</h1>

    <a href="https://github.com/my12parsecs/md-ghpages">GitHub Repo</a>
    <br>
    <a href="https://my12parsecs.github.io/md-ghpages">Home Page</a>
    <a href="https://my12parsecs.github.io/md-ghpages/subpage">Sub Page</a>

    <div>
        {{content}}
    </div>

</body>
</html>